@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
html, body  {
	height: 100%;
	width: 100%;
}
body{
  padding-top: 2rem;
  font-family: 'Lato', sans-serif;
  background-color: #f2f2f2;
}
.page-title{
  padding-bottom: 2rem;
}
.col h1{
  font-weight: 300;
  color:#ff9000;
  margin-top: 0;
}
.col p{
  color:#a9a9a9;
}

.total-sales-panel .list-group{
  height: 310px;
  overflow: scroll;
}
#map{
  height:280px;
}
.flex-container{
  display:flex;
  flex-wrap: wrap;
}
.best-seller{
  margin-top: 20px;
}
.col{
  background-color: white;
  padding:20px;

  margin-bottom: 2%;

}
.col-left{
  margin-right: 2%;
  width: 63%;
}
.col-right{
  width:35%;
}
a{
  color:#2185e7;
}
@media (max-width: 600px) {
  .col-left{
    margin-right: 0;
    width: 100%;
  }
  .col-right{
    width:100%;
  }
}
